<!doctype html>
<html ng-app="app1" ng-init="person = {fName: 'Derek', lName: 'Peter'}; capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">
    <head>
    
        <title>Movie Netflix</title>
        
    </head>
    <body>
        
        <div id="movieList" ng-controller="mListCtrl">
        
        
           
            
            <ol style = "margin: 0 0 -15px 0;">
                <li>{{movies[0].item}}</li>
            </ol>
            
             <h3 class="ListTitle">Number of Seasons {{movies.length}}</h3>
           
        
            <ol start="2">
                <li ng-repeat="movie in movies" ng-if="$index > 0 ">
                    {{movie.item}} {{$index}}
            </ol>
        <table>
                <tr ng-repeat-start= "episode in seasons">
                <td>{{movie.item}}</td>
                <tr ng-repeat-end>
                    <td>
                    {{movie.purchased}}
                    </td>
                </tr>
            </table>
    </div> 
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"
    ></script>
    <script src = "js/exam.js"></script>
    
  </body>     
</html>