<!doctype html>
<html ng-app="app1" ng-init="person = {fName: 'Derek', lName: 'Peter'}; capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">
    <head>
    
        <title>Movie Netflix</title>
        
    </head>
    <body>
        
        <div ng-view=""></div>
        <div id="movieList" ng-controller="mListCtrl">
            
            <h3 class="ListTitle">Silicon Valley </h3>
        
            <ol start="1">
                <li ng-repeat="movie in movies" ng-if="$index >= 0 ">
                   Episode: "{{movie.item}}"  ,      Ratings: {{movie.averageRating}} ,{{releaseYear}} 
                    SerialNumber: {{movie.id}}
            </ol>
            
             <h3 class="ListTitle">Number of Seasons {{movies.length}}</h3>
             <h3 class="ListTitle">Average Ratings: {{movies.length}}</h3>
        
    </div> 
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"
    ></script>
    <script src = "js/exam.js"></script>
    <script src=”js/controllers/moviesCtrl.js”></script>
    
  </body>     
</html>